/***********/
/* Content */
.content {
  margin-top: 6rem;
  background-color: var(--bg-color-3);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content-header {
  display: flex;
  gap: 1rem;
}

/* Card */

.content-card-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.card {
  background-color: var(--bg-color);
}

.card-title {
  height: 3rem;
}

.card-sub-title {
  height: 2rem;
}

.card-description {
  height: 3.5rem;
}

.card-horizontal {
  height: fit-content;
  min-width: 60rem;
}

.card-content-horizontal {
  width: 100%;
}

.card-content-horizontal .card-btn-container {
  display: flex;
  flex-direction: column;
}

.price-container {
  display: flex;
  gap: 1rem;
}

.quantity {
  display: flex;
  height: 2rem;
}

.quantity-title,
.quantity-value {
  font-size: 1.5rem;
}

.quantity-value {
  width: 3rem;
}

.quantity-btn {
  font-size: 1.5rem;
  height: 100%;
  width: 2rem;
  background-color: var(--secondary-color);
  color: var(--txt-color-2);
  border-radius: 50%;
}

.quantity-btn:hover {
  background-color: var(--secondary-color-light);
}

/* Checkout */
.hr {
  border-top: 1px solid var(--bg-color-3);
}

/* Utils */

.hide-ovrflw {
  overflow: hidden;
}

.strike {
  text-decoration: line-through;
}

@media screen and (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .content-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .product-section {
    margin: 0;
  }

  .card {
    padding-bottom: 2rem;
  }

  .card-horizontal {
    min-width: 95%;
  }

  .card-content-horizontal .card-btn-container {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-btn-container .btn {
    font-size: 1.3rem;
  }

  .checkout-container {
    width: 85%;
    margin: auto;
  }

  .btn-place-order {
    margin-left: auto;
  }

  .wd-full {
    flex: 1;
    width: 50%;
  }
}
