/* Container */
.card {
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

/* Button */
.btn-link-secondary {
  color: var(--secondary-color);
  padding: 0;
}

.btn-link-secondary:hover {
  color: var(--secondary-color-light);
}

.info-container {
  justify-content: space-between;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.bottom-nav-container {
  display: flex;
  align-items: center;
}

.goto-icon {
  font-size: 2rem;
}

.toggle-icon-container {
  position: relative;
}

.toggle-icon {
  position: absolute;
  top: 25%;
  right: 3%;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .wd-4x {
    width: 100%;
  }
}
