/***********/
/* Content */
.content {
  /* margin-left: 28rem; */
  margin-top: 6rem;
  background-color: var(--bg-color-3);
}

.content-header {
  display: flex;
  gap: 1rem;
}

.content-card-section {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.card {
  width: 22rem;
  background-color: var(--bg-color);
}

.card-img {
  width: 22rem;
  height: 25rem;
}

.card-title {
  height: 3rem;
  overflow: hidden;
}

.card-sub-title {
  height: 2rem;
  overflow: hidden;
}

.card-description {
  height: 3.5rem;
  overflow: hidden;
}

.badge-active {
  color: var(--cta-color);
}
